<% provide(:title, t(".heading")) %>
<h1><%= t(".heading") %></h1>
<%= form_tag(users_path, method: :get, :id => "search_form", class: "text-center") do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag t(".search"), id: "btn-search", class: "btn btn-primary" %>
<% end %>
<%== pagy_bootstrap_nav @pagy %>
<ul class="users">
  <%= render @users %>
</ul>
<%== pagy_bootstrap_nav @pagy %>
